.lock
/.idea/
/.idea/dictionaries
/metro.iml
/metro_db
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/metro.jar
/metroservice.jar
/metro_test_db
/README_win.txt
/metro.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jre
/dist
deploy.sh
/resource/metro.manifest.mf
/resource/metroservice.manifest.mf
/metro.exe
/metroservice.exe
/bundles
*.patch
/addons/classes/
/addons/src/*.java
/out
/ardor
/ardor.exe
/ardorservice.exe
/output
/output_test
